<div class="container mt-5">
  <h2 class="text-center mb-4">Lịch sử giao dịch</h2>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">Người gửi</th>
        <th scope="col">Người nhận</th>
        <th scope="col">Số tiền</th>
        <th scope="col">Loại tiền tệ</th>
        <th scope="col">Ngày</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions">
        <td>{{ transaction.sender }}</td>
        <td>{{ transaction.receiver }}</td>
        <td>{{ transaction.amount }}</td>
        <td>{{ transaction.currency }}</td>
        <td>{{ transaction.date }}</td>
      </tr>
    </tbody>
  </table>
</div>
