.container {
  max-width: 600px;
  margin-top: 50px;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

.form-group {
  margin-bottom: 1.5rem;
}

button {
  margin-top: 20px;
}

.card-body .form-label {
  margin-bottom: 5px; /* Giảm khoảng cách giữa label và input */
}

.card-body .form-control {
  height: calc(1.5em + 0.75rem + 2px); /* Đảm bảo chiều cao nhất quán */
}

input[type="date"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

input[type="date"]:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
