.nav-link:hover {
  text-decoration: underline;
  color: #007bff !important;
}

.table-hover tbody tr:hover {
  background-color: #f1f1f1;
}

.container {
  margin-top: 20px;
}
hr {
  margin: 40px 0;
  border: 1px solid #ccc;
}

.nav-link.active {
  background-color: #007bff;
  color: white;
}
