/* General styling for social buttons */
.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px; /* Đảm bảo đồng đều */
  margin: 10px auto; /* Thêm khoảng cách giữa các nút và căn giữa */
  padding: 10px 20px;
  font-size: 16px;
  color: white; /* Màu chữ */
  border: none;
  text-align: center;
  text-decoration: none;
}

/* Custom button styling */
.custom-btn {
  flex: 1; /* Đảm bảo hai nút có cùng chiều rộng */
  max-width: 200px; /* Giới hạn chiều rộng tối đa */
  padding: 10px 20px;
  font-size: 18px;
}

/* Facebook button styling */
.facebook-button {
  background-color: #3b5998;
}

/* Twitter button styling */
.twitter-button {
  background-color: #55acee;
}

/* Divider styling */
.divider:before,
.divider:after {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
