/* You can add global styles to this file, and also import other style files */
.nav-link:hover {
  text-decoration: underline;
  color: #007bff !important;
}

.table-hover tbody tr:hover {
  background-color: #f1f1f1;
}
